html[dir="rtl"] body.rtl{
    text-align: right;
}

body.ays-gpg-plugin-admin input[type=checkbox], 
body.ays-gpg-plugin-admin input[type=radio] {
    accent-color: #005AE0;
    background-color: #fff;
    box-shadow: unset;
    border: 1px solid #8c8f94;
}

body.ays-gpg-plugin-admin input[type=checkbox]:focus, 
body.ays-gpg-plugin-admin input[type=radio]:focus {
    accent-color: #005AE0;
    background-color: #fff;
    border-color: #2271b1;
    box-shadow: 0 0 0 1px #2271b1;
    outline: 2px solid transparent;
}

body.ays-gpg-plugin-admin input[type=checkbox]:checked::before {
    filter: brightness(0) saturate(100%) invert(20%) sepia(95%) saturate(6593%) hue-rotate(211deg) brightness(98%) contrast(103%);
}

body.ays-gpg-plugin-admin input[type=radio]:checked::before {
    background-color: #005ae0;
}

body.ays-gpg-plugin-admin input[type="text"], 
body.ays-gpg-plugin-admin input[type="password"], 
body.ays-gpg-plugin-admin input[type="date"], 
body.ays-gpg-plugin-admin input[type="datetime"], 
body.ays-gpg-plugin-admin input[type="datetime-local"], 
body.ays-gpg-plugin-admin input[type="email"], 
body.ays-gpg-plugin-admin input[type="month"], 
body.ays-gpg-plugin-admin input[type="number"], 
body.ays-gpg-plugin-admin input[type="search"], 
body.ays-gpg-plugin-admin input[type="tel"], 
body.ays-gpg-plugin-admin input[type="time"], 
body.ays-gpg-plugin-admin input[type="url"], 
body.ays-gpg-plugin-admin input[type="week"] {
    padding: 0 8px;
    line-height: 2;
    min-height: 30px;    
}

body.ays-gpg-plugin-admin input[type="text"]:focus, 
body.ays-gpg-plugin-admin input[type="password"]:focus, 
body.ays-gpg-plugin-admin input[type="date"]:focus, 
body.ays-gpg-plugin-admin input[type="datetime"]:focus, 
body.ays-gpg-plugin-admin input[type="datetime-local"]:focus, 
body.ays-gpg-plugin-admin input[type="email"]:focus, 
body.ays-gpg-plugin-admin input[type="month"]:focus, 
body.ays-gpg-plugin-admin input[type="number"]:focus, 
body.ays-gpg-plugin-admin input[type="search"]:focus, 
body.ays-gpg-plugin-admin input[type="tel"]:focus, 
body.ays-gpg-plugin-admin input[type="time"]:focus, 
body.ays-gpg-plugin-admin input[type="url"]:focus, 
body.ays-gpg-plugin-admin input[type="week"]:focus {
    border-color: #005ae0;
    box-shadow: 0 0 0 1px #2271b1;
    outline: transparent solid 2px;
}

body.ays-gpg-plugin-admin input[type=color]:focus, 
body.ays-gpg-plugin-admin input[type=date]:focus, 
body.ays-gpg-plugin-admin input[type=datetime-local]:focus, 
body.ays-gpg-plugin-admin input[type=datetime]:focus, 
body.ays-gpg-plugin-admin input[type=email]:focus, 
body.ays-gpg-plugin-admin input[type=month]:focus, 
body.ays-gpg-plugin-admin input[type=number]:focus, 
body.ays-gpg-plugin-admin input[type=password]:focus, 
body.ays-gpg-plugin-admin input[type=search]:focus, 
body.ays-gpg-plugin-admin input[type=tel]:focus, 
body.ays-gpg-plugin-admin input[type=text]:focus, 
body.ays-gpg-plugin-admin input[type=time]:focus, 
body.ays-gpg-plugin-admin input[type=url]:focus, 
body.ays-gpg-plugin-admin input[type=week]:focus, 
body.ays-gpg-plugin-admin select:focus, 
body.ays-gpg-plugin-admin textarea:focus {
    border-color: #2271b1;
    box-shadow: 0 0 0 1px #2271b1;
}

body.ays-gpg-plugin-admin .button, 
body.ays-gpg-plugin-admin .button-primary, 
body.ays-gpg-plugin-admin .button-secondary {
    padding: 0 10px;
    line-height: 2.15384615;
    min-height: 30px;
    font-weight: 400;
}

body.ays-gpg-plugin-admin .button.hover, 
body.ays-gpg-plugin-admin .button:hover {
    background: #135e96;
    border-color: #135e96;
    color: #fff;
}

body.ays-gpg-plugin-admin .button.add_new_block_content, 
body.ays-gpg-plugin-admin .button.wp-picker-default, 
body.ays-gpg-plugin-admin .button.action, 
body.ays-gpg-plugin-admin .button.ays-add-multiple-images,  
body.ays-gpg-plugin-admin .button.ays_bulk_del_images, 
body.ays-gpg-plugin-admin .button.ays_select_all_images,
body.ays-gpg-plugin-admin .button.insert-media, 
body.ays-gpg-plugin-admin .button.action-button:not(.button-primary), 
body.ays-gpg-plugin-admin .button-secondary {
    background: #f6f7f7;
    border-color: #2271b1;
    color: #2271b1;
}

body.ays-gpg-plugin-admin .button.add_new_block_content:focus, 
body.ays-gpg-plugin-admin .button.wp-picker-default:focus, 
body.ays-gpg-plugin-admin .button.ays-add-multiple-images:focus, 
body.ays-gpg-plugin-admin .button.ays_bulk_del_images:focus, 
body.ays-gpg-plugin-admin .button.ays_select_all_images:focus, 
body.ays-gpg-plugin-admin .button.action:focus, 
body.ays-gpg-plugin-admin .button.insert-media:focus, 
body.ays-gpg-plugin-admin .button.action-button:not(.button-primary):focus, 
body.ays-gpg-plugin-admin .button-secondary:focus, 
body.ays-gpg-plugin-admin .button.add_new_block_content:hover,
body.ays-gpg-plugin-admin .button.wp-picker-default:hover,
body.ays-gpg-plugin-admin .button.action:hover,
body.ays-gpg-plugin-admin .button.ays-add-multiple-images:hover, 
body.ays-gpg-plugin-admin .button.ays_bulk_del_images:hover, 
body.ays-gpg-plugin-admin .button.ays_select_all_images:hover,
body.ays-gpg-plugin-admin .button.insert-media:hover,
body.ays-gpg-plugin-admin .button.action-button:not(.button-primary):hover,
body.ays-gpg-plugin-admin .button-secondary:hover {
    background: #f0f0f1;
    border-color: #135e96;
    color: #135e96;
    box-shadow: 0 0 0 1px #3582c4;
}

body.ays-gpg-plugin-admin a:focus {    
    box-shadow: 0 0 0 1px #3582c4;
}

body.ays-gpg-plugin-admin .button:focus, 
body.ays-gpg-plugin-admin .button-primary:focus {
    background: #135e96;
    border-color: #135e96;
    color: #fff;    
    box-shadow: 0 0 0 1px #3582c4,inset 0 0 0 1px #fff;
}

body.ays-gpg-plugin-admin .button-primary {
    background: #2271b1;
    border-color: #2271b1;
}

body.ays-gpg-plugin-admin select {
    line-height: 2;
    min-height: 30px;
}

ul.ays-wp-notice-answers{
    list-style-type: none;
}

.ays_fa_power_off_gpg-wrap .ays_fa_power_off_gpg::before,
.ays_fa_power_off_gpg::before {
    content: "";
    background-image: url("../images/icons/gall_icon.png");
    height: 30px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#adminmenu a.toplevel_page_gallery-photo-gallery div.wp-menu-image img {
    width: 25px !important;
    padding-top: 2px !important;
}

#adminmenu li.toplevel_page_gallery-photo-gallery .wp-menu-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
#adminmenu li.toplevel_page_gallery-photo-gallery .wp-menu-image img{
    width: 32px;
    padding: 2px;
    transition: .3s ease-in-out;
}
#adminmenu li.toplevel_page_gallery-photo-gallery ul.wp-submenu.wp-submenu-wrap li a {
    transition: .3s ease-in-out;
}

#adminmenu li.toplevel_page_gallery-photo-gallery ul.wp-submenu.wp-submenu-wrap li:last-child a {
    color: #68A615;
    font-weight: bold;
}

.wp-list-table a.ays-admin-plugins-upgrade-link {
    color: #01A32A;    
}

.wp-list-table a.ays-admin-plugins-upgrade-link:hover {
    color: #3B8D3F;
}

.swal2-popup .ays-gallery-photo-gallery-upgrade-button,
.swal2-popup .ays-gallery-photo-gallery-cancel-button {
    position: relative;
}

.swal2-popup .ays-gallery-photo-gallery-upgrade-button.swal2-styled.swal2-confirm:after {
    content: "(Save Your Data)";
    position: absolute;
    color: #878787;
    bottom: -18px;
    left: 25px;
    font-size: 12px;
}

.swal2-popup .ays-gallery-photo-gallery-cancel-button.swal2-styled.swal2-cancel:after {
    content: "(Delete All Data)";
    position: absolute;
    color: #878787;
    bottom: -18px;
    left: 30px;
    font-size: 12px;
}

.swal2-popup .ays-gallery-photo-gallery-upgrade-button.swal2-styled.swal2-confirm {
    background-color: #fff !important;
    color: #3085d6 !important;
    border: 1px solid #3085d6 !important;
}
